div{

    background-color: rgb(201, 211, 229);
    margin: 10%;
    padding: 2%;
   padding-left: 4%;

}

h1{
    text-align: center;
    color: white;
    text-decoration: underline;
   

}

body{

    background-color: rgb(47, 47, 54);

}

label{

    color: black;
}

input[type="text"]{

    border-style: outset;
    border-color: rgb(198, 197, 197); 

}

input[type="submit"]{

    background-color: rgb(208, 203, 200);
    font-size: 8pt;
    border-color: rgb(198, 197, 197); 
    
    
}

input[type="reset"]{

    background-color: rgb(208, 203, 200);
    font-size: 8pt;
    border-color: rgb(198, 197, 197); 
    
    
}

