div{

    background-color: rgb(201, 211, 229);
    margin: 10%;
    padding: 2%;
   padding-left: 4%;

}

h1{
    text-align: center;
    color: white;
    text-decoration: underline;
   

}

body{

    background-color: rgb(47, 47, 54);

}

label{

    font-weight: bold;
}