div{
    border: 2px solid rgb(0, 139, 88);
    padding: 7px;
    display: inline-block;
    background-color: rgb(218, 245, 236);
}

h1{
    margin: 0;
    font-weight: bold;
}

.yourAnswer{
    display: inline;
}

input{
    max-width: 70px;
}

.btn{
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}